* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  color: #007fff;

}

.wrapper {
	position: relative;
	width: 100%;
	.ui-jqgrid {
		.ui-jqgrid-htable th {
			font-size: 13px;
			color: #000;
		}

      tr.jqgrow {
        background-color: #fff8f8;
      }

		tr.jqgrow {
          &:nth-child(odd) {
            //background-color: #ebebeb;
			}
			td {
				a {
					margin: 0 5px;
				}
			}
		}
	}
}

